* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #e9ecef;
    color: #333;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header {
    background-color: #000;
    color: #fff;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5em;
    font-weight: bold;
}

header nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

header nav ul li {
    margin: 0 20px;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 8px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

header nav ul li a:hover {
    background-color: #ffd700;
    color: #333;
}

main {
    flex-grow: 1;
    padding: 40px 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    margin: 20px auto;
    max-width: 1200px;
}

main h2 {
    font-size: 2.2em;
    margin-bottom: 20px;
    color: #000;
    text-align: center;
}

section {
    margin-bottom: 40px;
}

section p {
    margin-bottom: 20px;
    line-height: 1.8;
}

section img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}


.table {
    background-color: #000;
    color: #fff;
}

.table thead th {
    background-color: #333;
    color: #fff;
}



footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}


@media (max-width: 768px) {
    header h1 {
        font-size: 2em;
    }

    header nav ul {
        flex-direction: column;
        align-items: center;
    }

    header nav ul li {
        margin: 10px 0;
    }

    main {
        padding: 20px;
    }

    main h2 {
        font-size: 1.5em;
    }
}

.biografia-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.biografia-img {
    max-width: 300px;
    height: auto;
    margin-right: 20px;
}

.biografia-text {
    flex: 1;
}

